html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}
h1, h2, h3, h4 {
    margin: 0;
}

* {
  box-sizing: border-box;
}

.header{
    background-color: rgb(31, 2, 31);
    width: 100%;
    height: 70px;
    margin: 0 ;
    padding: 1rem 3rem;
    color: white;
}
#logo{
    text-decoration: none;
    color: rgb(247, 144, 161);
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid red;
    padding-bottom: -15px;
}
#elogo{
    color: white;
    font-style: italic;
    font-size: 1.5rem;
}
.header-right{
    float: right;
}
.header-right a {
    font-size: 0.9rem;
    padding: 7px 20px;
    text-decoration: none;
    color: white;
    font-weight: 300;
}
.header-right a:hover{
    color: #ff718e;
}
.reg{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    padding:5px 30px;
    background-color: rgb(219, 98, 118);
}
/* .filter{
    background-color: grey;
} */
 
